* {
	font-family: 'Lato', sans-serif;
}
/* Large B Logo */
.logo {
    border: 8px solid #00ccff;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    text-align: center;
}
/* Large B Logo */
.logo span {
    line-height: 80px;
    font-size: 5em;
    font-weight: bolder;
    color: #00ccff;
    font-family: 'Lobster Two', cursive;
}
.font-thin {
	font-weight: 100;
}
.border-bottom {
	border-bottom: 4px solid #336699;
}
.margin-bottom {
	margin-bottom: 20px;
}
.push-right {
	padding-left: 20px;
}
.txt-shadow {
	text-shadow: 2px 2px 2px rgba(51, 102, 153, 1);
}